* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto 50px;
}

header {
    text-align: center;
    font-size: 55px;
    background: rgb(255, 203, 0);
    color: #fff;
    transition: all 0.4s ease;
}

header.stickyHeader {
    position: fixed;
    width: 100%;
    background: rgba(249, 144, 36, 0.9);
}

div {
    text-align: center;
    font-size: 55px;
    background: rgb(255, 84, 0);
    color: #fff;
    transition: all 0.4s ease;
}

div.stickyBlock {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 84, 0, 0.9);
    z-index: 9999;
}